{% extends "layout.html" %}

{% block title %}
 {{title}}
{% endblock title %}

{% block content %}
<section class="hero">
{% if user_id != "" %}
    <div class="greet"><span>Welcome, {{ user_name }}</span></div>
{% endif %}

        <h1 class="title"><span class="tide">Tide</span> basic CRUD</h1>
        <pre class="explain">Tide basic CRUD is an example project for exploring <a href="https://github.com/http-rs/tide" target="_blank">Tide</a> framework, you can read the <a href="https://javierviola.com/tags/tide-basic-crud/" target="_blank">post serie</a>.</pre>
</section>

{% if dinos %}
    <table class="u-full-width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Weight</th>
                <th>Diet</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for dino in dinos%}
            <tr>
                <td>{{dino.name}}</td>
                <td>{{dino.weight}}</td>
                <td>{{dino.diet}}</td>
                {% if dino.user_id %}
                    {%if user_id != "" and dino.user_id == user_id %}
                        <td><a href="/dinos/{{dino.id}}/edit"> Edit </a></td>
                        <td><a class="delete" data-id="{{dino.id}}"href="#"> Delete </a></td>
                    {% else %}
                        <td></td>
                        <td></td>
                    {% endif %}
                {% else %}
                    <td><a href="/dinos/{{dino.id}}/edit"> Edit </a></td>
                    <td><a class="delete" data-id="{{dino.id}}"href="#"> Delete </a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<a href="/dinos/new">Create new Dino</a>
{% endblock content %}

{% block aditionalScripts %}
    <script>
        const links = document.querySelectorAll('.delete');

        for( const link of links ) {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const data = { id : link.dataset.id };
                api( 'DELETE', data )
                .then( res => {
                    // just reload home
                    window.location.href = '/';
                })
                .catch( alert );

            } )
        }
    </script>
{% endblock aditionalScripts %}