<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock title %}</title>
  <meta charset="utf-8">
  <meta name="description" content="Tide basic CRUD">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta property="og:title" content="Tide basic CRUD" />

  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/public/css/normalize.css">
  <link rel="stylesheet" href="/public/css/skeleton.css">
  <link rel="stylesheet" href="/public/css/custom.css">

  {% block additionalHead %}
  {% endblock additionalHead %}
</head>

<body>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
          <li class="navbar-item"><a class="navbar-link" href="https://github.com/pepoviola/tide-basic-crud" target="_blank">GH repo</a></li>
        </ul>
        <ul class="navbar-list u-pull-right">
          {% if user_id == "" %}
            <li class="navbar-item"><a class="navbar-link" href="/auth/google">Login with google</a></li>
          {% else %}
            <li class="navbar-item"><a class="navbar-link" href="/logout">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>

   <script src="/public/js/api.js"></script>
   {% block aditionalScripts %}
   {% endblock aditionalScripts %}
</body>

</html>